{% extends "base.html" %}

{% load static %} 

{% block title %}Educorreia932 - My own creations{% endblock %}

{% block content %}

<h1>My own creations <span id="kaomoji"></span></h1>

<div id="projects">
    {% for project in projects %}

    <div class="project-card">
        <img class="project-illustration" src={{project.image}}>

        <div class="project-information">
            <h2>{{project.title}}</h2>

            <p class="project-description">{{project.description}}</p>

            <div class="project-tags">
                <span class="project-tag">     
                    Theme
                </span>
            </div>
        </div>
    </div>

    {% endfor %}
    
    <span class="item break"></span>
    <span class="item break"></span>
    <span class="item break"></span>
</div>

{% endblock %}
