__pycache__/
.idea/

# Backend folders and files
backend/core/migrations/
venv/
pyvenv.cfg
db.sqlite3

# Frontend folders and files
frontend/dist/
node_modules/
.nuxt/
package-lock.json

# Environment files
.env
.env.production
