<div class="project-card">
    <img class="project-illustration" alt="Project Illustration" src="{{ project.illustration_url }}">

    <div class="project-information">
        <h2>{{ project.title }}</h2>

        <p class="project-description">{{ project.description }}</p>

        <div class="d-flex d-row">
            <div class="project-tags">
                {# Tags #}
                {% for tag in project.tags %}
                    <span class="project-tag">
                        {{ tag.name }}
                    </span>
                {% endfor %}
            </div>

            {# Link #}
            <a href="{{ project.project_url }}" class="ms-auto link-light text-muted"><i class="fas fa-link"></i></a>
        </div>
    </div>
</div>