@font-face {
    font-family: "Pokemon GB";
    src: url("Pokemon GB.ttf");
}

body {
    background-image: url("../img/Wallpapers/astronautshrugged.jpg");
    font-family: "Pokemon GB";
    background-size: cover;
    text-shadow: 0 0 5px black;
    color: white;
	font-size: small;
	line-height: 150%;
}

:link {
	color: white;
	text-shadow: 0 0 3px white;
}

:visited {
    color: whitesmoke;
}