@font-face {
  font-family: "Pokemon GB";
  src: url("Pokemon GB.ttf");
}

body {
	background-image: url("../img/Wallpapers/redgiant.jpg");
	font-family: "Pokemon GB";
	background-size: cover;
}

:link {
	color: orange;
}

:visited {
	color: orangered;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
	background-color: transparent;
	width: 1000px;
	height: 600px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
	position: relative;
	width:  100%;
	height: 100%;
	border: 8px solid #C80000;
	border-radius: 40px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;

}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 33px;
	backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
	background-color: #3C3C3C;
	color: white;
	line-height: 150%;   
}

/* Style the back side */
.flip-box-back {
	background-color: #3C3C3C	;
	color: white;
	transform: rotateY(180deg);
}

.rectangle {
	height: 70px;
	width: 120px;
	background-color: black;
	position: relative;
}

#topleft {
	text-align: left; 
	margin: 2%;
	font-size: x-large;
}

#progress {
	background: #333;
	border-radius: 13px;
	height: 20px;
	width: 80%;
	padding: 3px;
	position: relative;
	margin: auto;
}

#after {
	content: '';
	display: block;
	background: linear-gradient(to right, #ffcc00 0%, #ff9966 100%);
	width: 0%;
	height: 100%;
	border-radius: 9px;
	position: relative;   
}

#trainer {
	max-width: 300%;
	max-height: 300%;
	position: relative;   
	bottom: 100%;
	left: 80%;
	content:url("img/Pokemon Trainer.gif");
}

.avatar {
	position: absolute;	
	left: 70%;
	top: 25%;
}

.avatar img {
	background:
	linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
	linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #C80000;
	border-radius: 10%;
}

.grid { 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	grid-gap: 10px;
	width: 40%;
	position: relative;
	left: 30%;
}

.grid img {
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	max-width: 100%;
}

.social-icons li {
	display: inline-block;
	list-style-type: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.social-icons li a {
	border-bottom: none;
}

.social-icons li img {
	width:70px;
	height:70px;
	margin-right: 20px;
}