/* Hyperlinks */

:link {
    color: inherit;
    text-decoration: none; /* Remove underline */
}

:visited {
	color: inherit;
}

/* Project Grid */

.project-grid {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 60%;
}

.project-item {
    border: 1px solid whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.project-item > img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

.project-item > h2:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px gray;
}