/* Hyperlinks */

:link {
    color: inherit;
    text-decoration: none; /* Remove underline */
}

:visited {
	color: inherit;
}

h2 {
    text-align: center;
}

.section-title {
    font-size: 250%;
}



/* ASCII Animation */

#fscroller {
    float: none;
    text-align: center;
}

/* Project Grid */

.project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.project-item {
    border: 1px solid whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.project-item > img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 90%;
}

.project-item > h2:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px gray;
}

.content {
    display: "block";
}

.content > img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 95%;
}

button {
    font: inherit;
    font-size: 150%;
    background: none;
    color: inherit; 
    border: none;
    cursor: pointer;
    outline: inherit;
    float: right;
    position: relative;
    right: 2%;
    top: 2%;
}