<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">
        <title>404 (Not) Found</title>
        <link rel="icon" href="/img/Avatar.png">
        <link rel="stylesheet" type="text/css" href="/style/new.css">
    </head> 

    <body>
        <h1>Error 404</h1>
        <p>Uhh I don't know how you ended up here, perhaps something on the website is broken 🤔</p>
        <p>Worry not though, here's a safe <a href="https://educorreia932.dev/">link</a>.</p>
        <img class="center" src="/img/ZeroTwo.gif">
        <p id="message">Why are you still here?</p>

        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            #message {
                text-align: center;
                font-size: small;
            }
        </style>

        <!-- Footer -->
        <div id="footer">
            <p>&copy; 2020 Eduardo Correia</p>
        </div>
    </body>
</html>
