{% extends "base.html" %}

{% load static %} 

{% block title %}Educorreia932 - My own creations{% endblock %}

{% block content %}

<h1>My own creations {{kaomoji}}</h1>

<div id="projects">
    {% for project in projects %}

    <div class="project-card">
        <img class="project-illustration" alt="Project Illustration" src={{project.illustration_url}}>

        <div class="project-information">
            <h2>{{project.title}}</h2>

            <p class="project-description">{{project.description}}</p>

            <div class="project-tags">
                {% for tag in project.tags %}
                <span class="project-tag">     
                    {{tag.name}}
                </span>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
    
    <span class="item break"></span>
    <span class="item break"></span>
    <span class="item break"></span>
</div>

{% endblock %}
