body {
    padding: 1em;
}

section#time-period-selection {
    padding: 0;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}

section#time-period-selection label {
    width: 12em;
    color: black;
    background-color: #f6f6f6;
    padding: 0.3em;
}

section#time-period-selection input:checked + label {
    background-color: #1DB954;
    color: white;
}

section#time-period-selection label:first-of-type {
    border-radius: 25px 0 0 25px;
}

section#time-period-selection label:last-of-type {
    border-radius: 0 25px 25px 0;
}

section#time-period-selection input {
    display: none;
}

section#content {
    display: grid;
    grid-template-columns: 60% 1fr;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

section#content div#chart {
    padding-left: 15%;
    padding-right: 15%;
}

section#content div#wordcloud {
    display: flex;
    justify-content: center;
}

section#content div#wordcloud svg {
    margin: auto auto;
}

footer {
    text-align: center;
}