{% extends "base.html" %}

{% load static %} 

{% block title %}Educorreia932 - Get to know me better{% endblock %}

{% block content %}

{# ASCII Animation #}
<div id="ascii-display" class="unselectable">
    <script defer id="ascii-art" src="{% static '/scripts/ascii_animations/1017.js' %}" ></script>
    <div id="fscroller"></div>
</div>

<h1>Get to know me better {{kaomoji}}</h1>

<div id="country-list">
    <h3>Visited countries 🌍</h3>
    <script defer src="https://d3js.org/d3.v4.js"></script>
    <script defer src="https://d3js.org/topojson.v1.min.js"></script>
    <script defer src="https://d3js.org/queue.v1.min.js"></script>
    <script defer src="{% static '/scripts/globe.js' %}"></script>

    <div id="globe"></div>
</div>

<h3>Favorite games 🎮</h3>
<ul>
    <li>The Elder Scrolls V: Skyrim</li>
    <li>The Witcher III: Wild Hunt</li>
    <li>Dark Souls III</li>
    <li>The Legend of Zelda: Breath of the Wild</li>
    <li>Divinity: Original Sin II</li>
    <li>Little Big Planet 2</li>
    <li>Pokémon Heartgold</li>
    <li>Starbound</li>
    <li>Terraria</li>
    <li>The Binding of Isaac: Rebirth</li>
</ul>    

<h3>Favorite anime 🐱‍🏍</h3>
<ul>
    <li>Code Geass</li>
    <li>Fullmetal Alchemist: Brotherhood</li>
    <li>Death Note</li>
    <li>Howl's Moving Castle</li>
    <li>Evangelion</li>
</ul>

<h3>Favorite music albums 🎸</h3>
<img alt="Favorite music albums" src="{% static 'images/FavoriteMusicAlbums.png' %}" width="550">

<h3>Favorite series 📺</h3>      
<ul>
    <li>Breaking Bad</li>
    <li>IT Crowd</li>
    <li>The Big Bang Theory</li>
    <li>Stranger Things</li>
    <li>The Witcher</li>
</ul>      

<h3>Favorite movies 🎬</h3>
<ul>
    <li>Star Wars Saga</li>
    <li>Marvel Cinematic Universe</li>
    <li>Studio Ghibli Movies</li>
</ul>

<h3>Favorite Youtube channels 📹</h3>
<ul>
    <li><a href="https://www.youtube.com/user/numberphile">Numberphile</a></li>
    <li><a href="https://www.youtube.com/user/JovemNerd">Jovem Nerd</a></li>
    <li><a href="https://www.youtube.com/user/enyay">Tom Scott</a></li>
    <li><a href="https://www.youtube.com/user/SsethTzeentach">SsethTzeentach</a></li>
    <li><a href="https://www.youtube.com/channel/UCVYamHliCI9rw1tHR1xbkfw">Dave Lee</a></li>
    <li><a href="https://www.youtube.com/channel/UC4E98HDsPXrf5kTKIgrSmtQ">Special Books by Special Kids</a></li>
</ul>

{% endblock %}
