{% extends "base.html" %}

{% load static %}

{% block title %}Educorreia932 - A Beautiful Collage{% endblock %}

{% block content %}

<h1>A
    <del>Beautiful</del>
    Internet Collage
</h1>

<p>This webpage is an collaborative experiment, much like <a href="https://www.reddit.com/r/place/" target="_blank">r/place</a>,
    where you submit an image to go along with the already existing ones to form a
    <del>beautiful</del>
    collage.
</p>

<p>There are no restrictrions to the images you may submit... so far.</p>

<h2>Instructions</h2>

<p>Enter a valid image URL, place it on the canvas, click on submit, fill the captcha and then <b>boom</b> magic
    will happen.</p>

<input type="text" id="url-input" name="url" size="40" placeholder="URL" value=""/><br>
<button type="button" onclick="loadStamp()">Submit</button>

<script src="/scripts/load-stamp.js"></script>

<h2>WARNING: Potential <span style="color: red">NSFW</span> material below.</h2>
<input type="checkbox" id="blurCheck" onclick="NSFWblur()">
<label for="blurCheck">I have no problems with that (remove blur).</label>

<hr>

<script src="/scripts/display-stamps.js"></script>

<div id="stamp-canvas"></div>

{% endblock %}