{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify Statistics</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style/spotify_statistics.css' %}">
    <script defer src="{% static 'scripts/spotify_statistics.js' %}"></script>
</head>

<body>

<h1>Spotify Statistics</h1>

<nav id="categories">
</nav>

<section id="content">
    <div id="options"></div>

    <div id="information">

    </div>
</section>

<footer>
    &copy; 2021 - Eduardo Correia
</footer>

</body>
</html>