{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<title>Stone of Golorr Properties</title>
		<link rel="icon" href="{% static '/images/Stone of Golorr Properties/Dragon Coin.png' %}'">
		<link rel="stylesheet" type="text/css" href="{% static 'style/stone-of-golorr.css' %}">
    </head>

    <body>

		<script type="text/javascript" src="{% static '/scripts/stone-of-golorr-properties.js' %}"></script>
		
    	<h2>Minor Beneficial Property</h2>
    	<ul>
    		<li id="beneficial"></li>
    	</ul>
    	<p id="spell"></p>

    	<h2>Minor Detrimental Property</h2>
    	<ul>
    		<li id="detrimental"></li>
    	</ul>
    </body>
</html>