@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Modeseven-L3n5;
        src: url("../fonts/Modeseven-L3n5.ttf");
    }

    body {
        @apply font-body bg-dark px-8;
        color: whitesmoke;
        line-height: 1.3;
        font-size: large;
    }

    h1 {
        font-size: 2em;
    }

    a:link {
        @apply text-red-orange;
        text-decoration: none;
    }

    a:visited {
        @apply text-red-orange-dark;
    }

    a:hover {
        @apply text-red-orange-light;
    }


}

